# Ignora as pastas de autenticação (evita erro de arquivo bloqueado)
.wwebjs_auth_local
.wwebjs_auth_teste
.wwebjs_auth_docker

# Ignora os módulos do Windows (o Docker vai instalar os dele para Linux)
node_modules

# Ignora arquivos de log e git
.git
.gitignore
*.log
npm-debug.log*
tmp