#completle ignore this folders

venv/
node_modules
node_modules/
node_modules/*
tmp/
tmp/session/*
data/historicos/*
PyWhatKit_DB.txt
.wwebjs_cache
.wwebjs_auth
.dockerignore
.env
docker
docker-compose.yaml
Dockerfile
.wwebjs_auth_docker
.wwebjs_auth_local
.debug_insta
.scraper_data
docker_session_prod